DATABASE_URL="postgresql://me:password@localhost:5432/picturespeak?schema=public"
PORT=8000

CORS_ORIGIN=http://localhost:8080,http://localhost:8000
CORS_CREDENTIALS=true
CORS_HEADERS=Content-Type,Authorization

JWT_SECRET=change-me
JWT_EXPIRES_IN=30d

ADMIN_EMAIL=admin@picturespeak.local
ADMIN_PASSWORD=ChangeMe123!

FALLBACK_LANGUAGE=en

SWAGGER_ENABLED=true
